@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');
@font-face {
  font-family: Butler;
  font-weight: 400;
  src: url("../fonts/Butler_Regular.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');

@font-face {
  font-family: Butler-Bold;
  font-weight: bold;
  src: url("../fonts/Butler_Bold.otf") format("opentype");
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  margin:0;
  padding: 0;
}

::selection {
  background: black;
  /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: black;
  /* Gecko Browsers */
  color: #fff;
}

/* .wrapper {
  margin: auto;
  max-width:1440px;
  display: grid;
  padding: 32px 64px;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr) ) ;
  grid-gap: 10px 100px;
} */



.box {
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  font-size: 20px;
}

.box.socialBox {
  text-align: right;
}

.box.intro {
  margin-top: 32px;
  margin-bottom: 64px;
}

.box.projectPreview {
  border-top: 4px solid black;
  padding: 0;
  transition: all .25s ease;
  margin-bottom: 24px;
  font-weight: normal;
  transition: all .25s ease;
  margin-bottom: 40px;
}

.box.projectPreview:hover {
  color: #F03D76;
  border-color: #F03D76;
  cursor: pointer;
}

.box.projectPreview::after {
  content: "";
  z-index: -999;
  display: block;
  position: absolute;
  width: 0;
  margin-top: -130px;
  margin-left: -10px;
  transition: width .5s cubic-bezier(.8, .03, .25, 1);
}

.box.projectPreview:hover::after {
  width: 25%;
  height: 10%;
  background-color: rgba(240, 61, 118, .20);
}

.box.projectPreview:hover a {
  color: #F03D76;
  cursor: pointer;
  font-weight: 800;
}

.projectPreviewLargeLink {
  display: block;
  width: 100%;
  height: 100%;
}

.box.projectPreview .projectPreviewParagraph+a {
  transition: all .25s ease;
  display: block;
  font-weight: normal;
  padding: 2px 0px;
  width: 100%;
  margin: 0px 0px;
  color: #000;
  text-decoration: none;
  list-style-type: none;
  transition: all .25s ease;
}

.box.projectPreview:hover .projectPreviewParagraph+a {
  color: #F03D76;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  height: 10%;
}

.box.projectPreview.SYW:hover::after {
  background-color: rgba(240, 179, 66, .20);
}

.box.projectPreview.SYW:hover {
  color: #E47427;
  border-color: #E47427;
}

.box.projectPreview.SYW:hover a {
  color: #E47427;
}

.box.projectPreview.DE:hover::after {
  width: 25%;
  height: 10%;
  background-color: rgba(50, 119, 179, .20);
}

.box.projectPreview.DE:hover {
  color: #3277B3;
  border-color: #3277B3;
}

.box.projectPreview.DE:hover a {
  color: #3277B3;
}


.box.nav a {
  font-size: 16px;
  font-weight: normal;
  padding: 2px 0px;
  margin: 0px 6px;
  color: #000;
  text-decoration: none;
  list-style-type: none;
  transition: all .25s ease;
  border-bottom: 4px rgba(0, 0, 0, 0) solid;
}

.box.nav a:hover {
  border-bottom: 4px rgba(0, 0, 0, .25) solid;
}

.box a.activeNav {
  font-weight: bold;
  border-bottom: 4px black solid;
  width: 2px;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 3.3rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  
}

h1.myName {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 32px;
}

h2.projectTitle {
  font-weight: bold;
  text-align: left;
  font-size: 26px;
  margin-bottom: 8px;
  margin-top: 24px;
}

p {
  line-height: 150%;
  font-family: 'Noto Serif', serif;
  margin-top: 0;
  font-size:24px;
}

.socialIcon {
  margin: 8px;
  padding: 8px;
  transition: all .25s ease;
  border-radius: 6px;
  color: black;
}

p.projectPreviewParagraph {
  margin-top: 0;
  margin-bottom: 12px;
}

.socialIcon:hover {
  background: rgba(0, 0, 0, .25);
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

/* PROJECT PAGE*/


.projectPageWrapper {
  width: 100%;
}

.projectHero {
  padding: 144px 0 24px 0;
  color: rgba(255,255,255);
}

.content {
  max-width: 756px;
  margin: auto;
}

.wrapper {
  width: 100%;
}

.wrapperHero {
  width: 100%;
  background: rgba(0,0,0);
}

.wrapperIntro {
  width: 100%;
  margin-top: 124px;
  margin-bottom: 124px; 
}

.greyAside {
  background: #1B1E28;
  border-radius: 8px;
  padding: 16px;
  font-size: 2rem;
  font-style: italic;
  margin: 32px;
  color: #4D4D4D;
  font-family: 'Noto Serif', serif;
}

.projectHeroDisclaimer {
  font-size: 16px;
  font-style: italic;
  margin: 32px;
  margin-top:128px;
  color: rgba(255,255,255,.6);
  font-family: 'Noto Serif', serif;
}

.framingParagraph {
  padding: 32px 32px 16px 32px;
  border: 1px solid rgba(0,0,0,1);
}

.keyQuote {
  margin-left: 100px;
  margin-right: 100px;
  border-left: 4px solid red;
  padding-left: 10px;
}

.projectTitle {
  text-transform: uppercase;
  text-align: left;
  line-height: 1;
  font-size:50px;
}


.projectSubhead {
  font-size: 22px;
  line-height:145%;
  font-family: 'Poppins';
  color: rgba(255,255,255,.8);
}

.projectImage {
  width:100%;
  max-height:1046px;
  object-fit: cover;
}

.sectionTitle {

}



@media only screen and (max-width: 1146px) {
  
  .content {
    padding-left: 32px;
    padding-right: 32px;
  }
  .box.nav {
    padding-left: 0;
  }
  .box.intro {
    padding-left: 0;
    padding-right: 0;
    grid-column: span 2;
  }
  .box.d {
    display: none;
  }
  .threeCol {

    grid-template-columns: 1fr;

  }
}

@media only screen and (max-width: 756px) {

  .projectHeroDisclaimer {
    font-size: 16px;
    font-style: italic;
    margin: 32px;
    margin-top:128px;
    color: rgba(255,255,255,.6);
    font-family: 'Noto Serif', serif;
  }

  
  .box.nav a {}
  .box.intro {
    margin-top: 0;
    padding-top: 0;
  }
  .box.projectPreview:hover .projectPreviewParagraph+a {
    width: 75%;
    height: 10%;
  }
}

@media only screen and (max-width: 650px) {


  p {
    font-size:22px;
    line-height:1.5;
  }

}

@media only screen and (max-width: 450px) {


  .box.intro p {
    font-size: 20px;
    line-height: 160%;
  }
  .box.d {
    display: none;
  }

}
