@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');


html {
  /* font-size: 62.5%; */
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  margin:0;
  padding: 0;
  text-decoration-skip-ink: auto;
}

::selection {
  background: black;
  /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: black;
  /* Gecko Browsers */
  color: #fff;
}

figure {
display: block;
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0;
margin-inline-end: 0;
}

#outline .content {
  text-align:center;
}


.projectPreviewLargeLink {
  display: block;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.5rem;
}

.sectionSubHead {

margin-top: 64px;
margin-bottom: 12px;
text-transform: uppercase;

}

.subsectionSubHead {
  font-size:22px;
  text-transform: uppercase;
}


p {
  line-height: 170%;
  font-family: 'Noto Serif', serif;
  font-weight: 500;
  margin-top: 42px;
  font-size:21px;
}

ul.summaryList {
  display:inline-block;
  margin:auto;
  text-align: left;
}

li {
  font-family: 'Noto Serif', serif;
  font-size:20px
}

.summaryItemLink {
    position: relative;
    display: inline-block;
    outline: none;
    color: #000;
    margin: 6px;
    transition: all .2s ease;
    font-size:16px;
}

p + ul {margin:0;}

a:hover {
  
}




h5 + p {
  margin-top: 0;
}


/* PROJECT PAGE*/



.projectHero {
  padding: 144px 0 24px 0;
  color: rgba(255,255,255);
}

.content {
  max-width: 1000px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 32px;
}
.span-col-12{grid-column: span 12 / auto;}

.span-col-6{grid-column: span 6 / auto;}

.span-col-4{grid-column: span 4 / auto;}

.span-col-6 .sectionSubHead {
  text-align: center;
}

.span-col-6 p {
  font-size:20px;
}

.wrapper {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.fullImageWrapper {
  padding:0;;
}

.wrapperGrey {
  background: #f2f2f2;
  padding-top:100px;
  padding-bottom: 100px;
}

.wrapperHero {
  width: 100%;
  background: rgba(0,0,0);
}

.wrapperIntro {
  width: 100%;
  margin-top: 124px;
  margin-bottom: 124px; 
}

.greyAside {
  background: #1B1E28;
  border-radius: 8px;
  padding: 16px;
  font-size: 2rem;
  font-style: italic;
  margin: 32px;
  color: #4D4D4D;
}

.projectHeroDisclaimer {
  font-size: 16px;
  font-style: italic;
  margin: 32px;
  margin-top:128px;
  color: rgba(255,255,255,.6);
}

.framingParagraph {
  padding: 32px 32px 16px 32px;
  border: 1px solid rgba(0,0,0,1);
}

.keyQuote {
  margin-left: 100px;
  margin-right: 100px;
  border-left: 4px solid red;
  padding-left: 10px;
}

.projectTitle {
  text-transform: uppercase;
  text-align:center;
  line-height: 1;
  font-size:72px;
}


.projectSubhead {
  font-size: 22px;
  line-height:145%;
  color: rgba(255,255,255,.8);
  max-width:600px;
  margin:auto;
  text-align:center;
}

.projectSectionHeading {
  font-size:56px;
  text-transform: uppercase;
  text-align:center;
  margin-bottom:100px;
  margin-top:0;
}

.outline {
  margin-bottom:0;
  margin-top:0;
}

p.outline {
  margin-bottom:50px;
  font-size:16px;
}



.projectFullWidthImage {
  width:100%;
  max-height:1000px;
  object-fit: cover;
  vertical-align:text-bottom;
}


.projectImage {
  width:100%;

  object-fit: cover;
  margin-top:32px;
}

.imageAbove {
  margin-top: 64px;
}

.wrapper .content h4 {
  margin-top:64px;
  margin-bottom:12px;
}

.projectCaption {
  line-height: 150%;
    font-family: 'Poppins', serif;
    font-size: 14px;
    color: rgba(0,0,0,1);
    margin-top: 0;
    text-align:center;
}



@media only screen and (max-width: 1146px) {
  
  .content {
    padding-left: 32px;
    padding-right: 32px;
  }
  .box.nav {
    padding-left: 0;
  }
  .box.intro {
    padding-left: 0;
    padding-right: 0;
    grid-column: span 2;
  }
  .box.d {
    display: none;
  }
  .threeCol {

    grid-template-columns: 1fr;

  }

}

@media only screen and (max-width: 1000px) {
  .span-col-6{grid-column: span 12 / auto;}
  .span-col-4{grid-column: span 12 / auto;}
}

@media only screen and (max-width: 756px) {

  .projectHeroDisclaimer {
    font-size: 16px;
    font-style: italic;
    margin: 32px;
    margin-top:128px;
    color: rgba(255,255,255,.6);
  }
  

  .framingParagraph {
    border: none;
  }
  .box.nav a {}
  .box.intro {
    margin-top: 0;
    padding-top: 0;
  }
  .box.projectPreview:hover .projectPreviewParagraph+a {
    width: 75%;
    height: 10%;
  }

  .span-col-2 p {
    font-size:20px;
  }
}

@media only screen and (max-width: 650px) {

  h4 {
    font-size: 2.7rem
  }

  

}

@media only screen and (max-width: 450px) {


  .box.intro p {
    font-size: 20px;
    line-height: 160%;
  }
  .box.d {
    display: none;
  }
  .projectSectionHeading {
    font-size: 46px;
  }

}
