

@import url("https://use.typekit.net/zqk3znz.css");

html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: 'din-2014', sans-serif;
  color: #262626;
  text-align: left;
  background: #fff;
  text-decoration-skip-ink: auto;
}



::selection {
  background: black;
  /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: black;
  /* Gecko Browsers */
  color: #fff;
}

p,ul {
  font-size: 1.3rem;
  line-height: 1.35
}

h1, h2, h3, h4, h5 {
  font-family: 'big-caslon-fb', serif;
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.875rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.wrapper {
  margin: 60px auto auto auto;
  max-width: 1440px;
  padding: 0px;
}

#grid {
  display: grid;
  max-width: 1280px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
  
}

.box {
  background: rgba(255, 255, 255, 0);

}

.box.intro {
  margin:56px 12px 24px 24px;
  grid-column: span 3;
}

div.span3 > h3 {
  border-bottom:4px black solid;
  padding-left: 24px;
}
.span3 {
  grid-column: span 3;
}
.span2 {
  grid-column: span 2;
}

.mainName {
  font-size:3rem;
}


.box.projectPreview {
  border-bottom: 1px solid black;
  padding:12px;
  margin:12px 12px;
  transition: all .25s ease;
}

.projectTitle {
  margin-bottom: 12px;
}

a.homeProjectTitle {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  padding-bottom: 4px;
}

a.homeProjectTitle:hover, a.homeProjectTitle:focus {
  text-decoration: none;
  background-size: 100% 4px;
  color: #000;
}


a:hover, a:focus {
  text-decoration: none;
  background-size: 100% 1px;
  color: #000;
}

p a {
  font-family: 'Cormorant', serif;
}

a {
  color: #000;
  transition: all .3s ease;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  padding-bottom: 4px;
  font-family: 'Libre Franklin', sans-serif;
}

a:hover {
  background-size: 100% 4px;
}

.socialIcon {
  margin: 12px;
  padding: 8px;
  font-size: 2.5rem;
  transition: all .25s ease;
  border-radius: 6px;
  color: black;
}

.socialIcon:hover {
  background: rgba(0, 0, 0, .15);
  cursor: pointer;
}


@media only screen and (max-width: 756px) {
  .box.projectPreview {
    grid-column: span 3;
    margin:24px 12px;
  }
}

@media only screen and (max-width: 450px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .box {
    grid-column: span 3;
  }
}


p.output {
  position: absolute;
  bottom: 1%;
  right: 1%;
  padding: 16px;
  min-height:18px;
  background: rgba(0,0,0,.45);
  border-radius: 8px;
  color: #fff;
  font-family: 'Libre Franklin', sans-serif;
  font-size:14px;
  position: fixed;
  cursor: pointer;
  
  animation: voicePrompt 1s ease forwards;
  animation-delay: 7s;
}

@keyframes voicePrompt{
  from {opacity:1;}
  to {opacity:0;}
}

@-webkit-keyframes voicePrompt{
  from {opacity:1;}
  to {opacity:0;}
}



a.button {
  background-color: #000;
  border: none;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 12px 0px;
  cursor: pointer;
  transition: all .3s ease;
  background-image: none;
  border: 1px solid #fff;
}

a.button:Hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}



.image-stack {
  display: grid;
  position: relative; 
  grid-template-columns: repeat(12, 1fr);
  transition: all .2s ease;
}

.box:hover .image-stack .image-stack__item--bottom {
  transform: scale(1.025);
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  transition: all .2s ease;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 20%; 
  z-index: 1; 
}

img {
  width: 100%;
  display: block;
}