@import url('https://fonts.googleapis.com/css?family=Cormorant:500,500i,700,700i|Libre+Franklin:400,400i,700,700i&display=swap');
html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Cormorant', serif;
  color: #262626;
  text-align: left;
  background: #fff;
  text-decoration-skip-ink: auto;
}

::selection {
  background: black;
  /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: black;
  /* Gecko Browsers */
  color: #fff;
}

p,ul {
  font-size: 1.65rem;
  line-height: 1.35
}

h1, h2, h3, h4, h5 {
  font-family: 'Libre Franklin', sans-serif;
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.875rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}


.wrapper {
  margin: 60px auto auto auto;
  max-width: 1440px;
  padding: 0px;
}

#grid {
  display: grid;
  max-width: 1280px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
  
}

.box {
  background: rgba(255, 255, 255, 0);
  padding: 20px;

}

.box.intro {
  margin-top:32px;
  margin-bottom: 32px;
  grid-column: span 3;
}

.box.projectPreview {
  border-top: 2px solid black;
  padding: 8px 0 0 0;
  margin-bottom: 24px;
  margin-bottom: 40px;
}

.projectTitle {
  margin-bottom: 12px;
}

a.homeProjectTitle {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  padding-bottom: 4px;
}

a.homeProjectTitle:hover, a.homeProjectTitle:focus {
  text-decoration: none;
  background-size: 100% 4px;
  color: #000;
}


a:hover, a:focus {
  text-decoration: none;
  background-size: 100% 1px;
  color: #000;
}

a {
  color: #000;
  transition: all .3s ease;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  padding-bottom: 4px;
}

a:hover {
  background-size: 100% 4px;
}

.socialIcon {
  margin: 12px;
  padding: 8px;
  font-size: 2.5rem;
  transition: all .25s ease;
  border-radius: 6px;
  color: black;
}

.socialIcon:hover {
  background: rgba(0, 0, 0, .15);
  cursor: pointer;
}


@media only screen and (max-width: 756px) {
  .box.projectPreview {
    grid-column: span 3;
  }
}

@media only screen and (max-width: 450px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .box.intro {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 32px;
  }
  .box.intro p {
    line-height: 160%;
  }
  .box {
    grid-column: span 3;
  }
}